.dashboard {
    padding: 1rem;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 1rem;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}