header {
    background-color: #7dd44e;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

header a {
    color: white;
    font-family: 'DM Mono', sans-serif;
    text-decoration: none;
    margin-right: 1rem;
}

.profile {
    display: flex;
    align-items: center;
}

svg {
    align-self: center;
}